$font-sans-base: 'Roboto', sans-serif;
$font-serif-base: $font-sans-base;
$font-emphasis: $font-sans-base;

$lineheight			: 1.8em;
$letterSpacing		: 1.2px;

$link-color			: #2a2a2a;

$menu-toggle-width	: 20px;
$menu-toggle-height	: 2px;
$menu-toggle-color	: $link-color;

$min-xsmall			: 480px;
$min-small			: 768px;
$min-medium			: 992px;
$min-large			: 1200px;

$max-xsmall			: ($min-small - 1);
$max-small			: ($min-medium - 1);
$max-medium			: ($min-large - 1);

html {
	&:before {
		display: none !important;
		content: "mobile";
	}
}

html, body {
	background: #fff;
	color: #000;
	font-family: $font-sans-base;
	-webkit-font-smoothing: subpixel-antialiased;
	line-height: $lineheight;
	margin: 0;
	position: relative;
	width: 100%;
}

a {
	color: $link-color;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
	padding: 0;
	color: #000;
	font-family: $font-sans-base;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 1.2;
}

.ada-hidden {
	display: none !important;
	left: -99999px;
	visibility: hidden !important;
}

.xs-screen,
.sm-screen,
.med-screen,
.lg-screen,
.xs-screen-inline,
.sm-screen-inline,
.med-screen-inline,
.lg-screen-inline {
	display: none !important;
}

.xs-screen {
	@media (max-width: $max-xsmall) {
		@include responsive-visible();
	}
}

.sm-screen {
	@media (min-width: $min-small) and (max-width: $max-small) {
		@include responsive-visible();
	}
}

.med-screen {
	@media (min-width: $min-medium) and (max-width: $max-medium) {
		@include responsive-visible();
	}
}

.lg-screen {
	@media (min-width: $min-large) {
		@include responsive-visible();
	}
}

.xs-screen-inline {
	@media (max-width: $min-xsmall) {
		@include responsive-visible-inline();
	}
}

.sm-screen-inline {
	@media (min-width: $min-small) and (max-width: $max-small) {
		@include responsive-visible-inline();
	}
}

.med-screen-inline {
	@media (min-width: $min-medium) and (max-width: $max-medium) {
		@include responsive-visible-inline();
	}
}

.lg-screen-inline {
	@media (min-width: $min-large) {
		@include responsive-visible-inline();
	}
}

.hidden-xs {
	@media (max-width: $max-xsmall) {
    	@include responsive-hidden();
	}
}
.hidden-sm {
	@media (min-width: $min-small) and (max-width: $max-small) {
		@include responsive-hidden();
	}
}
.hidden-md {
	@media (min-width: $min-medium) and (max-width: $max-medium) {
		@include responsive-hidden();
	}
}
.hidden-lg {
	@media (min-width: $min-large) {
		@include responsive-hidden();
	}
}

.push-left {
	float: left;
}

.push-right {
	float: right;
}
