<header role="header">
	<nav class="primary-nav" role="navigation">
		<ul>
			<li><a href="#">Work</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
	<div class="menu-toggle"><span class="ada-hidden">menu</span></div>
</header>

<section class="thousands-mission">
	<article>
		<h1><img src="/images/wearethousands.png" width="387" height="37" alt="We Are Thousands" /></h1>
		<p></p>
	</article>
</section>

<section class="thousands-slides">
	<div class="slide">
		<picture>
			<source media="(min-width: 1600px)" srcset="/images/slide_01_1600.jpg" />
			<source media="(min-width: 1200px)" srcset="/images/slide_01_1200.jpg" />
			<source media="(min-width: 900px)" srcset="/images/slide_01_900.jpg" />
			<source media="(min-width: 500px)" srcset="/images/slide_01_500.jpg" />
			<img src="/images/slide_01_1600.jpg" alt="project">
		</picture>
	</div>
</section>

<footer>
	<img src="/images/thousands_footer.png" width="295" height="48" alt="We Are Thousands" />
</footer>