<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>thousandsCreative</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width" />

	<link rel="stylesheet" href="css/thousandsCreative.min.css">

	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>

	<!-- inject:body:html -->
	<!-- endinject -->

	<!-- inject:templates:html -->
	<!-- endinject -->

	<script src="js/thousandsCreative.thirdParty.min.js"></script>
	<script src="js/thousandsCreative.min.js"></script>
</body>
</html>
